* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: inherit;
}

@import "./components/navBar/Navbar";
@import "./components/footer/Footer";
@import "./pages/home/Home";
@import "./pages/products/Products";
@import "./pages/product/Product";
@import "./components/slider/Slider";
@import "./components/featuredProducts/FeaturedProducts";
@import "./components/card/card";
@import "./components/category/category";
@import "./components/contactUs/Contact";
